.profile__info {
	display: grid;
	grid-template-columns: minmax(auto, 295px) auto;
	grid-template-areas:
		'title button'
		'description description';
	grid-gap: 9px 17px;
}

@media screen and (max-width: 740px) {
	.profile__info {
		grid-template-columns: minmax(auto, 228px) auto;
		grid-gap: 9px 5px;
	}
}

@media screen and (max-width: 568px) {
	.profile__info {
		grid-template-columns: minmax(auto, 195px) auto;
	}
}

@media screen and (max-width: 480px) {
	.profile__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		margin: 26px 0 33px 0;
	}
}
