extends ../../PopUp

block variables
    - var popUpClass = 'PopUpCardDelete';
    - var popUpTitle = 'Вы уверены?';
    - var popUpButton = 'Да';
    - var popUpContentModification = '';

block Content
    button(type="button" class="Button PopUp__button PopUp__confirmation")