section(class="Section Profile")

    div(class="Profile__avatar")
        img(class="Profile__image" src="" alt='Аватар')
        img(class="Profile__image--edit" src="" alt='Изменение аватара')

    div(class="Profile__info")
        h1(class="Profile__title")
        p(class="Profile__description")
        button(class="Profile__button Profile__button--edit_profile" type="button")

    button(class="Profile__button Profile__button--create_place" type="button")

