@import url('./__description/profile__description.css');
@import url('./__button/-add/profile__button-add.css');
@import url('./__button/-edit/profile__button-edit.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');
@import url('./__image/-edit/profile__image-edit.css');
@import url('./__avatar/profile__avatar.css');


.profile {
	display: flex;
	align-items: center;
	padding: 36px 0;
	color: #fff;
	font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 480px) {
	.profile {
		flex-direction: column;
		padding: 43px 0;
		text-align: center;
	}
}
