.popup__close {
	position: absolute;
	top: -36px;
	right: -34px;
	width: 35px;
	height: 35px;
	margin: 0;
	border: none;
	padding: 0;
	background: transparent url('../../../images/close.svg') center no-repeat;
	background-size: 35px 35px;
	transition: visibility 0s, opacity 0.3s;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	cursor: pointer;
}

.popup__close:hover {
	opacity: 0.6;
}
