.profile__edit-button {
	grid-area: button;
	align-self: center;
	width: 24px;
	height: 24px;
	margin: 0;
	border: 1px solid #fff;
	padding: 0;
	background: transparent url('../../../images/edit-icon.svg') center no-repeat;
	background-size: 10px 10px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
}

.profile__edit-button:hover {
	opacity: 0.6;
}

@media screen and (max-width: 480px) {
	.profile__edit-button {
		width: 18px;
		height: 18px;
		background-size: 8px 8px;
	}
}
