.card__delete-button {
	position: absolute;
	top: 18px;
	right: 15px;
	width: 18px;
	height: 18px;
	margin: 0;
	border: none;
	padding: 0;
	background: transparent url('../../../images/delete-icon.svg') center no-repeat;
	background-size: 18px 18px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
}

.card__delete-button:hover {
	opacity: 0.6;
}
