.popup__content {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 430px;
	border-radius: 10px;
	padding: 34px 36px;
	background-color: #fff;
	block-size: min-content;
}

.popup__content--isImage {
	display: flex;
	width: auto;
	max-width: 75vw;
	height: auto;
	max-height: 75vh;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 0;
	background: transparent;
	-webkit-background-size: cover;
	background-size: cover;
}

@media screen and (max-width: 568px) {
	.popup__content {
		width: 100%;
		max-width: calc(100% - 80px);
		margin-top: 40px;
		padding: 30px 20px;
	}
}
