block variables
    - var lang = 'ru';
    - var title = 'Mesto';

doctype html
html(lang=lang)

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(name="color-scheme" content="dark light")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title #{title}

    body(class="Page")
        include widgets/header/Header.pug

        main(class="Content")
            block content

        include widgets/footer/Footer.pug