.profile__image {
	width: 120px;
	height: 120px;
	margin: 0 29px 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

@media screen and (max-width: 740px) {
	.profile__image {
		margin: 0 10px 0 0;
	}
}

@media screen and (max-width: 480px) {
	.profile__image {
		margin-right: 0;
	}
}
