.profile__avatar {
	position: relative;
}

.profile__image {
	width: 120px;
	height: 120px;
	margin: 0 29px 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.profile__image-edit {
	position: absolute;
	top: calc(60px - 13px);
	left: calc(60px - 13px);
	opacity: 0%;
}

.profile__avatar:hover .profile__image {
	filter: opacity(20%);
}

.profile__avatar:hover .profile__image-edit {
	opacity: 100%;
}

@media screen and (max-width: 740px) {
	.profile__image {
		margin: 0 10px 0 0;
	}
}

@media screen and (max-width: 480px) {
	.profile__image {
		margin-right: 0;
	}
}
