.popup__input {
	box-sizing: border-box;
	width: 100%;
	height: 47px;
	margin-bottom: 10px;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 0 0 10px;
	font-size: 14px;
	line-height: 18px;
}

.popup__input:last-of-type {
	margin-bottom: 0;
}

@media screen and (max-width: 568px) {
	.popup__title {
		font-size: 12px;
		line-height: 15px;
	}
}
