template(id="card-template")
    article(class="Card")
        img(class="Card__image" src="" alt="")
        button(type="button" class="Card__delete")
        div(class="Card__description")
            h2(class="Card__title")
            include ../../shared/components/like/Like.pug
