@import url('./__logo/header__logo.css');

.header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	min-height: 120px;
	font-family: 'Inter', Arial, sans-serif;
}

.header::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	height: 1px;
	opacity: 0.7;
	background: #545454;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media screen and (max-width: 480px) {
	.header {
		min-height: 85px;
	}
	.header::before {
		width: calc(100% + 40px);
	}
}
