.Profile__description {
	grid-area: description;
	margin: 0;
	font-size: 18px;
	line-height: 22px;
}

@media screen and (max-width: 568px) {
	.profile__description {
		font-size: 14px;
		line-height: 17px;
	}
}

@media screen and (max-width: 480px) {
	.profile__description {
		margin-block-start: 7px;
		inline-size: 100%;
	}
}
