@import url('./__content/popup__content.css');
@import url('./__content/_content/popup__content_content_image.css');
@import url('./__close/popup__close.css');
@import url('./__title/popup__title.css');
@import url('./__form/popup__form.css');
@import url('./__label/popup__label.css');
@import url('./__form_field-error/popup__form_field-error.css');
@import url('./__input_type_error-error/popup__input_type_error.css');
@import url('./__input/popup__input.css');
@import url('./__button/popup__button.css');
@import url('./__caption/popup__caption.css');
@import url('./__image/popup__image.css');

.popup {
	position: fixed;
	inset: 0;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	font-family: 'Inter', Arial, sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
	inline-size: 100%;
	block-size: 100%;
}
